manifest {
  description = 'LRGASP Challenage 3 Benchmark Workflow'
  author = 'Tianyuan Liu <https://orcid.org/0000-0002-8561-6239>'
  nextflowVersion = '>=19.10.0'
  version = '1.0.8'
}

profiles {
    docker {
        process {
            withName:validation {
                container = "liutiantian/lrgasp_event2_validation:0.2.0"
            }
        }

        process {
            withName:compute_metrics {
                container = "liutiantian/lrgasp_event2_metrics:0.2.0"
            }
        }

        process {
            withName:consolidation {
                container = "liutiantian/lrgasp_event2_consolidation:0.2.0"
            }
        }
        docker.enabled = true
        // set time zone for running docker containers
        docker.runOptions = '--user \$(id -u):\$(id -g) -e TZ="\$([ -z \\"\$TZ\\"] && cat /etc/timezone || echo \\"\$TZ\\")"'
    }
}


// default parameter values
params  {
  // submitted file
  input = "$baseDir/lrgasp-challenge-3_full_data/input_data/rna.fasta"

  // public reference dir
  public_ref_dir = "$baseDir/lrgasp-challenge-3_full_data/public_ref"
  
  // participant_id
  participant_id = 'fake_pipeline_test'
   
  goldstandard_dir = "$baseDir/lrgasp-challenge-3_full_data/goldstandard_dir"

   // challenges_ids
  challenges_ids = '"mouse_num_iso mouse_sirvs mouse_%_full_Illumina_support_vs_%_coding_transcripts mouse_%_non-canonical_SJ_vs_%_SJ_SR_coverage mouse_%_mapping_to_genome_vs_%_full_Illumina_support mouse_num_busco_gene_compl-dupl_vs_num_busco_gene_compl-single mouse_num_busco_gene_fragment_vs_num_busco_gene_missing"'

  assess_dir = "$baseDir/lrgasp-challenge-3_full_data/benchmark_data"
  augmented_assess_dir = "$baseDir/lrgasp-challenge-3_full_data/benchmark_data_augmented"
  
  // community_id
  community_id = "OEBC010"
  
  
  // output directory
  validation_result = "sample_out/participant_out/validated-participant-data.json"

  assessment_results = "sample_out/assessment_out/Assessment_datasets.json"

  outdir = "sample_out/results"

  statsdir = "sample_out/stats"

  data_model_export_dir = "sample_out/benchmarking_data_model_export/Participant_assessments.json"

  otherdir = "sample_out/other"

}

// By default output execution reports
timeline {
    enabled = true
    file = "${params.statsdir}/timeline.html"
  }
  report {
    enabled = true
    file = "${params.statsdir}/report.html"
  }
  trace {
    enabled = true
    file = "${params.statsdir}/trace.txt"
  }
  dag {
    enabled = true
    file = "${params.statsdir}/DAG.dot"
  }
